@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 18px;
  color: #34495e;
  margin: 0;
  line-height: 1.6;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.banner {
  padding: 200px 0;
  background-image: url("../images/rod-long-xtL60zAyU-I-unsplash.jpg");
  background-size: cover;
  color: white;
  margin-bottom: 100px;
}

.container {
  margin: 50px auto;
}

a {
  text-decoration: none;
}

a:hover {
  outline: 2px solid blue;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
}

@media(min-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media(max-width: 480px) {
  .container {
    width: 100%;
  }
}
